* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin: auto;
}

.table {
  border-collapse: collapse;
  text-align: left;

  th,
  td {
    width: 8rem;
  }
}

// Home Page Styles:

.navlogo {
  display: flex;
  flex: wrap;
  max-width: 100%;
  height: auto;
  justify-content: center;
  padding: 1%;
}

.nav1 {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  padding: 1%;
  border: rgb(
    233,
    229,
    229
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  font-size: 2rem;
}

.pagemargin {
  //This controls the margin of the entire homepage
  margin: 0% 10% 0% 10%;
  background-color: rgb(255, 255, 255);
}

.hpsection {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin: 0%;
  border: rgb(233, 229, 229);
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  width: 100%;
}

.hpsectiond {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin: 0%;
  border: rgb(233, 229, 229);
  border-style: solid;
  border-width: 1px;
  padding: 1%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}

.navtext {
  border: rgb(
    255,
    255,
    255
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  padding: 2%;
  text-align: center;
}

.SectionA {
  justify-content: center;
  margin: 0%;
  border: rgba(
    233,
    229,
    229,
    0.753
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  text-align: center;
  float: left;
  width: 50%;
  height: 100%;
}

.SectionAtext {
  padding: 2% 2% 2% 10%;
  text-align: left;
}

.SectionBtext {
  padding: 0%;
  text-align: left;
}

.h2-1 {
  text-align: left;
}

.SectionAlist {
  justify-content: center;
  margin: 0%;
  border: rgba(
    233,
    229,
    229,
    0.753
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  text-align: left;
  padding-left: 15%;
  padding: 2% 2% 2% 10%;
  float: left;
  width: 50%;
  height: 100%;
}

.SectionAimg {
  justify-content: center;
  border: rgba(
    233,
    229,
    229,
    0.753
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  text-align: center;
  float: left;
  width: 25%;
}

.SectionBimg {
  justify-content: center;
  border: rgba(
    233,
    229,
    229,
    0.753
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  text-align: center;
  float: left;
  width: 33.33%;
}

.footertext {
  border: rgb(
    233,
    233,
    233
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  padding: 2%;
  text-align: center;
  font-size: 1rem;
}

.foot1 {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  padding: 1%;
  border: rgba(
    233,
    229,
    229,
    0.753
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
}

.footlogo {
  display: flex;
  flex: wrap;
  max-width: 100%;
  height: auto;
  justify-content: center;
  padding: 1%;
}

.footerstuff {
  justify-content: center;
  border: rgba(
    233,
    229,
    229,
    0.753
  ); //borders are for the purpose of building and development, showing where the component is.
  border-style: solid;
  border-width: 1px;
  text-align: center;
  float: left;
  width: 33.3%;
  font-size: 1rem;
  margin: 1%;
}

@media only screen and (max-width: 700px) {
  // This thing makes it scale able to mobile use, atm it seems fine with just this setting as it looks ok on laptops and ipad sized screens!
  .nav1 {
    font-size: 1rem;
  }
  .pagemargin {
    margin: 0%;
  }

  .footertext {
    font-size: 0.5rem;
  }

  .footerstuff {
    font-size: 0.5rem;
  }
  .SectionA {
    width: 100%;
  }

  .SectionAimg {
    width: 50%;
  }

  .SectionBimg {
    width: 50%;
  }
  .hpsectiond {
    background-color: rgba(233, 229, 229, 0.753);
  }
}
// .imglogo

// Client dashboard styles

// Dashboard navbar
.dashboard-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0;

  h2 {
    margin-right: 5rem;
  }

  &-links {
    display: flex;
    justify-content: space-between;
    width: 0rem;
    font-weight: 600;
  }
}

.items-list {
  .headings {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;

    h5 {
      width: 50%;
    }
  }

  .list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    p,
    .product-image {
      width: 50%;
      text-align: left;
    }
  }
}

// Specials list

.specials-container {
  margin-top: 6rem;

  .specials-headings {
    h5:first-child {
      width: 100%;
    }
  }

  .specials-list-content {
    .specials-item {
      p:first-child {
        width: 100%;
      }
    }
  }
}

// Products list

.products-container {
  margin-top: 5rem;
}
